<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Driver profile</title>
	<link rel="icon" type="image/x-icon" href="images/logo.jpg"/>
	<link href="/styles/other-pages-style.css" rel="stylesheet"/>
	<meta name="viewport" content="width=device-width; initial-scale=1.0"/>
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<body>

<header class="main-header">

	<div class="logo-and-name">
		<img src="images/logo.jpg" alt="Roady logo" class="logo"/>
		<h1>Roady</h1>
	</div>

	<nav class="navigation">
		<ul class="navigation-list">
			<li>
				<a class="nav-list-link" href="/passenger_today"/>
				<div class="switch-user-mode">
					<ion-icon name="swap-horizontal" aria-label="swap to passenger" class="icon-swap"></ion-icon>
					<ion-icon name="walk" aria-label="swap to passenger" class="icon-swap-passenger"></ion-icon>
				</div>
				</a>
			</li>
			<li>
				<a class="nav-list-link" href="/user_form"/>
				<ion-icon name="person" class="nav-icon"></ion-icon>
				</a>
			</li>
			<li>
				<a class="nav-list-link" href="/logout"/>
				<ion-icon name="Log-out" class="nav-icon"></ion-icon>
				</a>
			</li>
		</ul>
		<span class="my-name" th:text="${firstName}"></span>
	</nav>

</header>

<section class="second-main">
	<nav class="navigation">
		<ul class="navigation-list">
			<li>
				<a class="nav-list-link-text" href="/driver_today">Find passengers</a>
			</li>
			<li>
				<a class="nav-list-link-text" href="/my_active_transport_offers">My offers</a>
			</li>
			<li>
				<a class="nav-list-link-text" href="/transport_offer">Available transport</a>
			</li>
			</li>
			<li><a class="nav-list-link-text" href="/cars">Car info</a>
			</li>
		</ul>
	</nav>
</section>

<div class="page-content" style="min-height: 30rem">

	<div class="container form-one-column">

		<div th:if="${carType!=null}">
			<h2 class="search-title title-place">My Car</h2>
			<form>
				<div class="form-row grid--2-cols-inside">
					<label class="table-label">Car type:</label>
					<p class="info-field" th:text="${carType}"/>
				</div>

				<div class="form-row grid--2-cols-inside">
					<label class="table-label">Plate number:</label>
					<p class="info-field" th:text="${plateNumber}"/>
				</div>

				<div class="form-row grid--2-cols-inside">
					<label class="table-label">Available seats:</label>
					<p class="info-field" th:text="${availableSeats}"/>
				</div>

				<div class="form-row grid--2-cols-inside">
					<tr>
						<a class="register-button" href="updateAvailableSeatsNumber">Update</a>
						<!--						<a class="register-button" href="/remove_car">Remove car</a>-->
					</tr>
					<tr>
						<form action="/remove_car" method="post">
							<button class="register-button" type="submit">Remove car</button>
						</form>
					</tr>
				</div>
			</form>
		</div>

		<div>
			<p th:if="${status == 'no_car'}" class="msg-add-car-failed">
				<span>Add a car information. Then you can add a transportation offer</span>
			</p>
		</div>

		<!-- if do not have a car -->

		<div th:if="${carType==null}">

			<div>
				<p class="msg-add-car-failed">
					Add a car information. Then you can add a transportation offer
				</p>
			</div>

			<form action="/cars" method="post">

				<div class="form-one-column grid--2-cols-inside">
					<label class="table-label">Car type:</label>
					<input class="info-field" type="text" id="car_type" name="carType" placeholder="Enter car type"/>
				</div>

				<div class="form-one-column grid--2-cols-inside">
					<label class="table-label">Plate number:</label>
					<input class="info-field" type="text" id="plate_number" name="plateNumber" placeholder="Plate number"/>
				</div>

				<div class="form-one-column grid--2-cols-inside">
					<label class="table-label">Available seats:</label>
					<input class="info-field" type="number" id="availableSeats" name="availableSeats" placeholder="No of seats"/>
				</div>

				<div class="form-one-column grid--2-cols-inside">
					<p></p>
					<button class="register-button" type="submit">Add a car</button>
				</div>

				<div>
					<p class="msg-add-car-failed" th:if="${status == 'failed'}">Failed</p>
					<p class="msg-add-car-success" th:if="${status == 'success'}">Car added successfully</p>
				</div>

			</form>

		</div>

	</div>

</div>

<aside>
	<p>Active users: <span th:text="${users}"></span>&nbsp</p>
	<p> Available rides: <span th:text="${rides}"></span></p>
</aside>

<footer>
	<p class="copyrights">Forest Team &copy; 2022</p>
</footer>

</body>
</html>