<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Driver ride profile</title>
	<link rel="icon" type="image/x-icon" href="images/logo.jpg"/>
	<link href="/styles/other-pages-style.css" rel="stylesheet"/>
	<meta name="viewport" content="width=device-width; initial-scale=1.0"/>
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>

<body>

<header class="main-header">
	
	<div class="logo-and-name">
		<img src="images/logo.jpg" alt="Roady logo" class="logo"/>
		<h1>Roady</h1>
	</div>
	
	<nav class="navigation">
		<ul class="navigation-list">
			<li>
				<a class="nav-list-link" href="/passenger_today"/>
				<div class="switch-user-mode">
					<ion-icon name="swap-horizontal" aria-label="swap to passenger" class="icon-swap"></ion-icon>
					<ion-icon name="walk" aria-label="swap to passenger" class="icon-swap-passenger"></ion-icon>
				</div>
				</a>
			</li>
			<li>
				<a class="nav-list-link" href="/user_form"/>
				<ion-icon name="person" class="nav-icon"></ion-icon>
				</a>
			</li>
			<li>
				<a class="nav-list-link" href="/logout"/>
				<ion-icon name="Log-out" class="nav-icon"></ion-icon>
				</a>
			</li>
		</ul>
		<span class="my-name" th:text="${firstName}"></span>
	</nav>

</header>

<section class="second-main">
	<nav class="navigation">
		<ul class="navigation-list">
			<li>
				<a class="nav-list-link-text" href="/passenger_today">Find transport</a>
			</li>
			<li>
				<a class="nav-list-link-text" href="/add_ride_request">Add ride request</a>
			</li>
			<li>
				<a class="nav-list-link-text" href="/my_active_ride_requests">My ride requests</a>
			</li>
		</ul>
	</nav>
</section>

<div class="page-content">
	
	<div class="container grid grid--2-cols">
		<form action="confirm_booking_as_passenger" method="post">
		<h2 class="search-title title-place">Are you taking this transport?</h2>
		
		<div class="route-info search-title">
			<h2>Route information</h2>
			<div>
				<label class="table-label">Departure:</label>
				<p class="info-field" th:text="${ride.getDeparturePoint()}"></p>
			</div>
			<div>
				<label class="table-label">Destination:</label>
				<p class="info-field" th:text="${ride.getDestinationPoint()}"></p>
			</div>
			<div>
				<label class="table-label">Departure Date:</label>
				<p class="info-field" th:text="${ride.getDepartureDate()}"></p>
			</div>
			<div>
				<label class="table-label">Departure Time:</label>
				<p class="info-field" th:text="${ride.getDepartureTime()}"></p>
			</div>
			<div>
				<label class="table-label">Price:</label>
				<p class="info-field" th:text="${ride.getRidePrice()}"></p>
			</div>
			<div>
				<label class="table-label">Payment type:</label>
				<p class="info-field" th:text="${ride.getPaymentType()}"></p>
			</div>
		</div>
		
		<div class="car-info search-title">
			
			<h2>Car information</h2>
			
			<div>
				<label class="table-label">Car type:</label>
				<p class="info-field" th:text="${ride.getCar().getCarType()}"></p>
			</div>
			<div>
				<label class="table-label">Plate Number:</label>
				<p class="info-field" th:text="${ride.getCar().getPlateNumber()}"></p>
			</div>
			<div>
				<label class="table-label">Available seats:</label>
				<p class="info-field" th:text="${ride.getCar().getAvailableSeats()}"></p>
			</div>
		
		</div>
		
		<div class="driver-info search-title">
			<h2>Driver information</h2>
			
			<div>
				<label class="table-label">First Name:</label>
				<p class="info-field" th:text="${ride.getCar().getUser().getFirstName()}"></p>
			</div>
			<div>
				<label class="table-label">Last Name:</label>
				<p class="info-field" th:text="${ride.getCar().getUser().getLastName()}"></p>
			</div>
			<div>
				<label class="table-label">Phone:</label>
				<p class="info-field" th:text="${ride.getCar().getUser().getPhoneNumber()}"></p>
			</div>
<!--			<div>-->
<!--				<label class="table-label">Member since:</label>-->
<!--				<p class="info-field" th:text="${ride.getCar().getUser().getRegisteredAt()}"></p>-->
<!--			</div>-->
		</div>
		
		<input type="hidden" name="rideId" th:value="${ride.getRideRequestId()}">
		<button class="register-button title-place" type="submit" >Confirm</button>
		</form>
	</div>
	
</div>

<aside>
	<p>Active users: <span th:text="${users}"></span>
	<p>Available rides: <span th:text="${countUsers}"></span></p>
</aside>

<footer>
	<p class="copyrights">Forest Team &copy; 2022</p>
</footer>

</body>
</html>