<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Driver profile</title>
  <link rel="icon" type="image/x-icon" href="images/logo.png">

  <link rel="stylesheet" href="styles/style1.css" >
  <link rel="stylesheet" href="styles/user_form.css" >
  <meta name="viewport" content="width=device-width; initial-scale=1.0" >

</head>
<body>
<div id="header"><h1>Welcome to the Roady!</h1></div>

<div id="pageContent">

  <div id="firstNav">
    <div class="logo">
      <img title="logo" src="images/logo.png" alt="Roady logo">
    </div>
  </div>

  <div id="Content">
    <div class="myMenuButtons">
      <form action="/logout" method="get" style ='float: left; padding: 5px;'>
        <button type="submit">Logout</button>
      </form>
      <form action="/user_form" method="get" style ='float: left; padding: 5px;'>
        <button type="submit">My profile info</button>
      </form>
      <form action="/user_profile" method="get" style ='float: left; padding: 5px;'>
        <button type="submit">Select an action</button>
      </form>
      <form action="/cars" method="get" style ='float: left; padding: 5px;'>
        <button type="submit">Your car</button>
      </form>
      <form action="/transport_offer" method="get" style ='float: left; padding: 5px;'>
        <button type="submit">Post available transport</button>
      </form>
      <form action="/my_active_transport_offers" method="get" style ='float: left; padding: 5px;'>
        <button type="submit">My transport offers</button>
      </form>
      <form action="/driver_today" method="get" style ='float: left; padding: 5px;'>
        <button type="submit">Find passengers</button>
      </form>
      <br><br><br>
    </div>

    <div>
        <h3>New search</h3>
      <br>

      <form action="send_info_for_ride_search" method="post" >
          <input class="autoFill" id="departurePoint" type="text" name="departure" placeholder="Departure" required minlength="2">
          <input class="autoFill" id="destinationPoint" type="text" name="destination" placeholder="Destination" required minlength="2">
          <button type="submit"> Submit</button>
      </form>

    </div>

  </div>


  <div id="secondNav">
    <div class="logo">
      <img title="logo" src="images/logo.png" alt="Roady logo">
    </div>
  </div>
</div>

<div id="footer">
  <p>Copyrights: Forest Team Active users: <span ></span> Available rides: </p>
</div>


</body>
</html>