<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roady</title>
    <link rel="icon" type="image/x-icon" href="/static/images/logo.png">

    <link rel="stylesheet" href="/static/styles/style1.css" >
    <meta name="viewport" content="width=device-width; initial-scale=1.0" >

</head>
<body>
<div id="header"><h1>Welcome to the Roady!</h1></div>

<div id="pageContent">

    <div id="firstNav">
        <div class="logo">
            <img title="logo" src="/static/images/logo.png" alt="Roady logo">
        </div>
    </div>

    <div id="Content">
<!--                <h1>new links</h1>-->

<!--                <h3 class="likeButton"><a th:href="@{/register}">Register</a></h3>-->
<!--                <h3 class="likeButton"><a th:href="@{/login}">Login</a> </h3>-->

        <form>
            <div>
                <p >Existing user?</p>
<!--                <button id="loginButton" style="width: 150px" onclick="location.href='/login'" type="button">Login</button>-->
                <h3 class="likeButton"><a th:href="@{/register}">Register</a></h3>
<!--                <h3 class="likeButton"><a href="/signup_form">Register</a></h3>-->
                <br>
                <br>
                <p>New user?</p>
                <h3 class="likeButton"><a th:href="@{/login}">Login</a> </h3>
<!--                <button id="registerButton" onclick="location.href='/register'" type="button">Register</button>-->

<!--                <h1>Users: </h1>-->
<!--                <div> Total users <span th:text="${users.size()}"></span> </div>-->

            </div>
        </form>

        <br><br>


    </div>

    <div id="secondNav">
        <div class="logo">
            <img title="logo" src="../static/images/logo.png" alt="Roady logo">
        </div>
    </div>




</div>

<div id="footer">
    <p>Copyrights: Forest Team Active users: Available rides: </p>
</div>

</body>
</html>