<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>Roady home</title>
	<link rel="icon" type="image/x-icon" href="images/logo.jpg"/>
	<link href="/styles/index-style.css" rel="stylesheet"/>
	<meta name="viewport" content="width=device-width; initial-scale=1.0"/>
</head>

<body>

<header class="main-header">
	<h1>Welcome to the Roady</h1>
</header>

<div class="main-part">
	
	<img src="images/logo.jpg" alt="Roady logo" class="image"/>
	
	<div class="login-form">
		<h2>Please log-in</h2>
		
		<form method="post" action="/login">
			<div>
				<input class="input" name="email" type="email" placeholder="Enter your email"/>
			</div>
			<div>
				<input class="input" name="password" type="password" placeholder="Enter your password"/>
			</div>
			
			<div>
				<p th:if="${status == 'user_not_found'}" class="user-not-found">
					User not found. Check your username or password
				</p>
			</div>
			<div>
				<button class="login-button">Login</button>
			</div>
		</form>
	</div>
	
	<form class="invite-register" action="/register">
		<h2>Don't have an account?</h2>
		<button th:href="@{/register}" class="register-button" type="submit"> Register</button>
	</form>

</div>

<aside>
	<p>Active users: <span th:text="${users}"></span>
	<p>Available rides: <span th:text="${countUsers}"></span></p>
</aside>

<footer>
	<p class="copyrights">Forest Team &copy; 2022</p>
</footer>

</body>
</html>