<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="icon" type="image/x-icon" href="images/logo.png">

  <link rel="stylesheet" href="styles/style1.css" >
  <meta name="viewport" content="width=device-width; initial-scale=1.0" >

</head>
<body>
<div id="header"><h1>Welcome to the Roady!</h1></div>

<div id="pageContent">

  <div id="firstNav">
    <div class="logo">
      <img title="logo" src="images/logo.png" alt="Roady logo">
    </div>
  </div>

  <div id="Content">
    <h1>Please log-in</h1>

    <form method="post" action="/login">
      <div>
            <label class="login" >Enter your username</label><br>
            <input name="email" type="email">
      </div>
      <div>
              <label class="login">Enter your password</label><br>
              <input name="password" type="password"><br>
      </div>

      <div>
        <p th:if="${status == 'user_not_found'}" style="color: red; background: #facccc">
          <span>User not found. Check your username or password</span>
        </p>
      </div>
      <div>
        <button id="loginButton">Login</button>
      </div>
    </form>

    <form>
      <div>
        <p>Don't have an account?</p>
        <a class="likeButton" th:href="@{/register}"> Register</a>
      </div>
    </form>
    <br>
    <br>
  </div>

  <div id="secondNav">
    <div class="logo">
      <img title="logo" src="images/logo.png" alt="Roady logo">
    </div>
  </div>
</div>

<div id="footer">
  <p>Copyrights: Forest Team Active users: <span th:text="${users}"></span> Available rides: </p>
</div>

</body>
</html>