<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Roady</title>
  <link rel="icon" type="image/x-icon" href="../static/images/logo.png">

  <link rel="stylesheet" href="../static/styles/styles1.css" >
  <meta name="viewport" content="width=device-width; initial-scale=1.0" >

</head>
<body>
<div id="header"><h1>Welcome to the Roady!</h1></div>

<div id="pageContent">

  <div id="firstNav">
    <div class="logo">
      <img title="logo" src="../static/images/logo.png" alt="Roady logo">
    </div>
  </div>

  <div id="Content">
    <h1>Please log-in</h1>

    <form method="post" action="/login">
      <div>
        <table>
          <tr>
            <td class="labelField"> <label class="login" >Enter your username</label></td>
          </tr>
          <tr>
            <td > <input name="username" type="text"></td>
          </tr>
        </table>

      </div>
      <div>
        <table>
          <tr>
            <td class="labelField">
              <label class="login">Enter your password</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="password" type="password"><br>
            </td>
          </tr>
        </table>

      </div>
      <button id="loginButton">Login</button>
    </form>

    <form>
      <div>
        <p>Don't have an account?</p>
        <button id="registerButton" onclick="location.href='/register'" type="button">Register</button>
      </div>
    </form>
    <br>
    <br>


  </div>

  <div id="secondNav">
    <div class="logo">
      <img title="logo" src="../static/images/logo.png" alt="Roady logo">
    </div>
  </div>
</div>

<div id="footer">
  <p>Copyrights: Forest Team Active users: Available rides: </p>
</div>

</body>
</html>