<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User profile</title>
    <link rel="icon" type="image/x-icon" href="images/logo.png">

    <link rel="stylesheet" href="styles/style1.css" >
    <meta name="viewport" content="width=device-width; initial-scale=1.0" >

</head>
<body>
<div id="header"><h1>Welcome to the Roady!</h1>

</div>

<div id="pageContent">



    <div id="firstNav">
        <div class="logo">
            <img title="logo" src="images/logo.png" alt="Roady logo">
        </div>
    </div>

    <div id="Content">

        <div class="myMenuButtons">
            <form action="/logout" method="get" style ='float: left; padding: 5px;'>
                <button type="submit">Logout</button>
            </form>
            <form action="/user_form" method="get" style ='float: left; padding: 5px;'>
                <button type="submit">My profile info</button>
            </form>
            <form action="/user_profile" method="get" style ='float: left; padding: 5px;'>
                <button type="submit">Select an action</button>
            </form>
            <form action="/cars" method="get" style ='float: left; padding: 5px;'>
                <button type="submit">Your car</button>
            </form>
            <form action="/transport_offer" method="get" style ='float: left; padding: 5px;'>
                <button type="submit">Post available transport</button>
            </form>
            <form action="/my_active_transport_offers" method="get" style ='float: left; padding: 5px;'>
                <button type="submit">My transport offers</button>
            </form>
            <form action="/driver_today" method="get" style ='float: left; padding: 5px;'>
                <button type="submit">Find passengers</button>
            </form>
            <br><br><br>
        </div>

        <div>
            <h3>My pending transport offers</h3>

            <table>
                <thead >
                <tr>
                    <th>Departure</th>
                    <th>Destination</th>
                    <th>Departure Date</th>
                    <th>Departure Time</th>
                    <th>Price</th>
                    <th>Payment</th>
                    <th>Seats in Car <span th:text="${plateNumber}"></span></th>
                    <!--                <th>Passenger</th>-->
                </tr>
                </thead>

                <tbody>
                <tr th:each="ride: ${driverPendingRides}">
                    <form action="send_info_for_transport_offer_editing" method="post">
                        <td th:text="${ride.departurePoint}"></td>
                        <td th:text="${ride.destinationPoint}"></td>
                        <td th:text="${ride.departureDate}"></td>
                        <td th:text="${ride.departureTime}"></td>
                        <td th:text="${ride.ridePrice}"></td>
                        <td th:text="${ride.paymentType}"></td>
                        <td th:text="${ride.car.getAvailableSeats()}"></td>
                        <input type="hidden" name="rideId" th:value="${ride.rideRequestId}"/>
                        <td><button type="submit"> Edit/Delete</button></td>
                    </form>
                </tr>


                </tbody>

            </table>


        </div>

        <div>
            <h3>My finished transport offers</h3>

            <table>
                <thead >
                <tr>
                    <th>Departure</th>
                    <th>Destination</th>
                    <th>Departure Date</th>
                    <th>Departure Time</th>
                    <th>Price</th>
                    <th>Payment</th>
                    <th>Seats in Car <span th:text="${plateNumber}"></span></th>
                    <th>Passenger</th>
                    <th>Your rating</th>
                    <th>Received rating</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="ride: ${driverFinishedRides}">
                    <form action="send_info_for_ride_overview" method="post">
                        <td th:text="${ride.departurePoint}"></td>
                        <td th:text="${ride.destinationPoint}"></td>
                        <td th:text="${ride.departureDate}"></td>
                        <td th:text="${ride.departureTime}"></td>
                        <td th:text="${ride.ridePrice}"></td>
                        <td th:text="${ride.paymentType}"></td>
                        <td th:text="${ride.car.getAvailableSeats()}"></td>
                        <td th:text="${ride.getPassenger().getFirstName()}" ></td>
                        <td >
                        <div th:if="${ride.getDriverReview()}!=null">
                            <p th:text="${ride.getDriverReview().getReview()}"></p>
                        </div>
                            <div th:if="${ride.getDriverReview()}==null">
                                <p>Please rate!</p>
                            </div>

                        </td>
                        <td >
                            <div th:if="${ride.getPassengerReview()}!=null">
                                <p th:text="${ride.getPassengerReview().getReview()}"></p>
                            </div>
                            <div th:if="${ride.getPassengerReview()}==null">
                                <p>No rating yet!</p>
                            </div>

                        </td>
                        <input type="hidden" name="rideId" th:value="${ride.rideRequestId}"/>
                        <input type="hidden" name="link" value="my_active_transport_offers"/>
                        <td><button type="submit">Ride overview/Rating</button></td>
                    </form>
                </tr>
                </tr>
                </tbody>

            </table>


        </div>





    </div>


    <div id="secondNav">
        <div class="logo">
            <img title="logo" src="images/logo.png" alt="Roady logo">
        </div>
    </div>




</div>

<div id="footer">
    <p>Copyrights: Forest Team Active users: <span ></span> Available rides: </p>
</div>

</body>
</html>