<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roady</title>
    <link rel="icon" type="image/x-icon" href="../static/images/logo.png">

    <link rel="stylesheet" href="../static/styles/style1.css" >
    <meta name="viewport" content="width=device-width; initial-scale=1.0" >

</head>
<body>
<div id="header"><h1>Update profile</h1></div>

<div id="pageContent">

    <div id="firstNav">
        <div class="logo">
            <img title="logo" src="../static/images/logo.png" alt="Roady logo">
        </div>
    </div>

    <div id="Content">

        <myMenyButtons>

            <form action="/logout" method="get">
                <button type="submit">Logout</button>

            </form>
            <form action="/user_form" method="get">
                <button type="submit">My profile info</button>

            </form>
            <form action="/user_profile" method="get">
                <button type="submit">Select an action</button>

            </form>

        </myMenyButtons>

        <h1>Update your profile info</h1>

        <div>
            <form action="/update_profile" method="post"
                  style="max-width: 500px; margin: 0 auto;">

                <div >
                    <div>
                        <label>Id: <span th:text="${id}"></span></label>
                    </div>
                    <div >
                        <label>Username</label>
                        <input type="email" name="email" th:value="${email}" />
                    </div> <br>
                    <div >
                        <label >First Name</label>
                        <input type="text" name="firstName" th:value="${firstName}" />
                    </div> <br>
                    <div >
                        <label  >Last Name</label>
                        <input type="text" name="lastName" th:value="${lastName}" />
                    </div>   <br>
                    <div >
                        <label>Phone</label>
                        <input type="text" name="phone" th:value="${phoneNumber}" />
                    </div> <br>
                    <div>
                        <button type="submit" >Update</button>
                    </div>
                </div>
            </form>
        </div>
        </div>





    <div id="secondNav">
        <div class="logo">
            <img title="logo" src="../static/images/logo.png" alt="Roady logo">
        </div>
    </div>




</div>

<div id="footer">
    <p>Copyrights: Forest Team Active users: <span th:text="${countUsers}"></span> Available rides: </p>
</div>

</body>
</html>