<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Change password</title>
  <link rel="icon" type="image/x-icon" href="images/logo.png">

  <link rel="stylesheet" href="styles/style1.css" >
  <meta name="viewport" content="width=device-width; initial-scale=1.0" >

</head>
<body>
<div id="header"><h1>Wellcome to Roady!</h1></div>

<div id="pageContent">

  <div id="firstNav">
    <div class="logo">
      <img title="logo" src="images/logo.png" alt="Roady logo">
    </div>
  </div>

  <div id="Content">

    <myMenyButtons>

      <form action="/logout" method="get">
        <button type="submit">Logout</button>

      </form>
      <form action="/user_form" method="get">
        <button type="submit">My profile info</button>

      </form>
      <form action="/user_profile" method="get">
        <button type="submit">Select an action</button>

      </form>

    </myMenyButtons>

    <h1>Update your profile info</h1>

    <div>


      <form action="/change_password" method="post"
            style="max-width: 500px; margin: 0 auto;">

        <div >

          <div >
            <label >Enter your current password</label>
            <input type="password" name="password" required minlength="4" maxlength="10"/>
          </div>
          <br>

          <script>var check = function() {
            if (document.getElementById('newPassword').value ==
                    document.getElementById('confirm_password').value) {
              document.getElementById('message').style.color = 'green';
              document.getElementById('message').innerHTML = 'New Passwords are matching';
            } else {
              document.getElementById('message').style.color = 'red';
              document.getElementById('message').innerHTML = 'New Passwords not matching';
            }
          }</script>

          <div>
            <div>
              <label>Password <br>
                <input name="newPassword" id="newPassword" type="password" onkeyup='check();' /><br>
              </label>
              <br>
            </div>
          </div><br>

          <div>
            <div>
              <label>Confirm password <br>
                <input type="password" name="confirm_password" id="confirm_password"  onkeyup='check();' /> <br>
              </label>
              <span id='message'></span>
              <br>

            </div>
          </div><br>

          <div>
            <p th:if="${status == 'incorrect_password'}" style="color: red; background: #facccc">
              <span >Incorrect password</span>
            </p>
<!--            <p th:if="${status == 'passwords_do_not_match'}" style="color: red; background: #facccc">-->
<!--              <span >New passwords do not match</span>-->
<!--            </p>-->

          </div>


          <div>
            <button type="submit" >Update</button>
          </div>

        </div>
      </form>
    </div>



  </div>





  <div id="secondNav">
    <div class="logo">
      <img title="logo" src="images/logo.png" alt="Roady logo">
    </div>
  </div>




</div>

<div id="footer">
  <p>Active users: <span th:text="${countUsers}"></span> Available rides: </p>
  <p>Forest Team &copy; 2022</p>
</div>

</body>
</html>