<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Passenger profile</title>
	<link rel="icon" type="image/x-icon" href="images/logo.jpg"/>
	<link href="/styles/other-pages-style.css" rel="stylesheet"/>
	<meta name="viewport" content="width=device-width; initial-scale=1.0"/>
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>

<body>
<header class="main-header">

	<div class="logo-and-name">
		<img src="images/logo.jpg" alt="Roady logo" class="logo"/>
		<h1>Roady</h1>
	</div>

	<nav class="navigation">
		<ul class="navigation-list">
			<li>
				<a class="nav-list-link" href="/driver_today"/>
				<div class="switch-user-mode">
					<ion-icon name="swap-horizontal" aria-label="swap to driver" class="icon-swap"></ion-icon>
					<ion-icon name="car-sport" aria-label="swap to driver" class="icon-swap-passenger"></ion-icon>
				</div>
				</a>
			</li>
			<li>
				<a class="nav-list-link" href="/user_form"/>
				<ion-icon name="person" class="nav-icon"></ion-icon>
				</a>
			</li>
			<li>
				<a class="nav-list-link" href="/logout"/>
				<ion-icon name="Log-out" class="nav-icon"></ion-icon>
				</a>
			</li>
		</ul>
		<span class="my-name" th:text="${firstName}"></span>
	</nav>

</header>

<section class="second-main">
	<nav class="navigation">
		<ul class="navigation-list">
			<li>
				<a class="nav-list-link-text" href="/driver_today">Find transport</a>
			</li>
			<li>
				<a class="nav-list-link-text" href="/add_ride_request">Add ride request</a>
			</li>
			<li>
				<a class="nav-list-link-text" href="/my_active_ride_requests">My ride requests</a>
			</li>
		</ul>
	</nav>
</section>

<div class="page-content">

	
	<div class="page-content" style="min-height: 40rem">
		

		<form action="send_info_for_passenger_ride_search" method="post" class="container grid grid--3-cols search">
			<h2 class="search-title">New search</h2>
			<div>
				<input class="input" id="departurePoint" type="text" name="departure" placeholder="Departure" required
				       minlength="2">
			</div>
			<div>
				<input class="input" id="destinationPoint" type="text" name="destination" placeholder="Destination" required
				       minlength="2">
			</div>
			<div>
				<button class="register-button" type="submit">Submit</button>
			</div>
		</form>

	</div>

</div>

<aside>
	<p>Active users: <span th:text="${users}"></span>&nbsp</p>
	<p> Available rides: <span th:text="${rides}"></span></p>
</aside>

<footer>
	<p class="copyrights">Forest Team &copy; 2022</p>
</footer>

</body>
</html>