<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Driver profile</title>
    <link rel="icon" type="image/x-icon" href="images/logo.png">

    <link rel="stylesheet" href="styles/style1.css" >
    <link rel="stylesheet" href="styles/user_form.css" >
    <meta name="viewport" content="width=device-width; initial-scale=1.0" >

</head>
<body>
<div id="header"><h1>Welcome to the Roady!</h1></div>

<div id="pageContent">

    <div id="firstNav">
        <div class="logo">
            <img title="logo" src="images/logo.png" alt="Roady logo">
        </div>
    </div>

    <div id="Content">
        <div class="myMenuButtons">
            <form action="/logout" method="get" style ='float: left; padding: 5px;'>
                <button type="submit">Logout</button>
            </form>
            <form action="/user_form" method="get" style ='float: left; padding: 5px;'>
                <button type="submit">My profile info</button>
            </form>
            <form action="/user_profile" method="get" style ='float: left; padding: 5px;'>
                <button type="submit">Select an action</button>
            </form>

            <form action="/add_ride_request" method="get" style ='float: left; padding: 5px;'>
                <button type="submit">Add ride request</button>
            </form>
            <form action="/my_active_ride_requests" method="get" style ='float: left; padding: 5px;'>
                <button type="submit">My ride requests</button>
            </form>
            <form action="/passenger_today" method="get" style ='float: left; padding: 5px;'>
                <button type="submit">Find transport</button>
            </form>
            <br><br><br>
        </div>

        <div>

            <h3>New search</h3>
            <br>

            <form action="send_info_for_passenger_ride_search" method="post" >
                <input class="autoFill" id="departurePoint" type="text" name="departure" placeholder="Departure" required minlength="2">
                <input class="autoFill" id="destinationPoint" type="text" name="destination" placeholder="Destination" required minlength="2">
                <button type="submit"> Submit</button>
            </form>


<!--            <script>-->
<!--                function autocomplete(inp, arr) {-->
<!--                    var currentFocus;-->
<!--                    inp.addEventListener("input", function(e) {-->
<!--                        var a, b, i, val = this.value;-->
<!--                        closeAllLists();-->
<!--                        if (!val) { return false;}-->
<!--                        currentFocus = -1;-->
<!--                        a = document.createElement("DIV");-->
<!--                        a.setAttribute("id", this.id + "autocomplete-list");-->
<!--                        a.setAttribute("class", "autocomplete-items");-->
<!--                        this.parentNode.appendChild(a);-->
<!--                        for (i = 0; i < arr.length; i++) {-->
<!--                            if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {-->
<!--                                b = document.createElement("DIV");-->
<!--                                b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";-->
<!--                                b.innerHTML += arr[i].substr(val.length);-->
<!--                                b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";-->
<!--                                b.addEventListener("click", function(e) {-->
<!--                                    inp.value = this.getElementsByTagName("input")[0].value;-->
<!--                                    closeAllLists();-->
<!--                                });-->
<!--                                a.appendChild(b);-->
<!--                            }-->
<!--                        }-->
<!--                    });-->
<!--                    inp.addEventListener("keydown", function(e) {-->
<!--                        var x = document.getElementById(this.id + "autocomplete-list");-->
<!--                        if (x) x = x.getElementsByTagName("div");-->
<!--                        if (e.keyCode == 40) {-->
<!--                            currentFocus++;-->
<!--                            addActive(x);-->
<!--                        } else if (e.keyCode == 38) { //up-->
<!--                            currentFocus&#45;&#45;;-->
<!--                            addActive(x);-->
<!--                        } else if (e.keyCode == 13) {-->
<!--                            e.preventDefault();-->
<!--                            if (currentFocus > -1) {-->
<!--                                if (x) x[currentFocus].click();-->
<!--                            }-->
<!--                        }-->
<!--                    });-->
<!--                    function addActive(x) {-->
<!--                        if (!x) return false;-->
<!--                        removeActive(x);-->
<!--                        if (currentFocus >= x.length) currentFocus = 0;-->
<!--                        if (currentFocus < 0) currentFocus = (x.length - 1);-->
<!--                        x[currentFocus].classList.add("autocomplete-active");-->
<!--                    }-->
<!--                    function removeActive(x) {-->
<!--                        for (var i = 0; i < x.length; i++) {-->
<!--                            x[i].classList.remove("autocomplete-active");-->
<!--                        }-->
<!--                    }-->
<!--                    function closeAllLists(elmnt) {-->
<!--                        var x = document.getElementsByClassName("autocomplete-items");-->
<!--                        for (var i = 0; i < x.length; i++) {-->
<!--                            if (elmnt != x[i] && elmnt != inp) {-->
<!--                                x[i].parentNode.removeChild(x[i]);-->
<!--                            }-->
<!--                        }-->
<!--                    }-->
<!--                    document.addEventListener("click", function (e) {-->
<!--                        closeAllLists(e.target);-->
<!--                    });-->
<!--                }-->

<!--                var cities = ["Ādaži", "Ainaži", "Aizkraukle", "Aizpute", "Aknīste", "Aloja", "Alūksne", "Ape", "Auce",-->
<!--                    "Baldone", "Baloži (pilsēta)", "Balvi", "Bauska", "Brocēni", "Cēsis", "Cesvaine", "Dagda", "Daugavpils",-->
<!--                    "Dobele", "Durbe", "Gostiņi", "Grīva (Daugavpils)", "Grobiņa", "Gulbene", "Iecava", "Ikšķile", "Ilūkste",-->
<!--                    "Jaunjelgava", "Jēkabpils", "Jelgava", "Jūrmala", "Kalnciems", "Kandava", "Kārsava", "Koknese", "Krāslava",-->
<!--                    "Krustpils", "Kuldīga", "Ķegums", "Ķekava", "Ķemeri", "Lejasciems", "Lielvārde", "Liepāja", "Līgatne",-->
<!--                    "Limbaži", "Līvāni", "Lubāna", "Ludza", "Madona", "Mārupe", "Mazsalaca", "Ogre", "Olaine", "Pāvilosta",-->
<!--                    "Piltene", "Pitalova", "Pļaviņas", "Preiļi", "Priekule", "Rēzekne", "Rīga", "Rīgas Jūrmala", "Rūjiena",-->
<!--                    "Sabile", "Salacgrīva", "Salaspils", "Saldus", "Saulkrasti", "Seda", "Sigulda", "Skrunda", "Smiltene",-->
<!--                    "Staicele", "Stende", "Straupe", "Strenči", "Subate", "Talsi", "Tukums", "Valdemārpils", "Valka", "Valmiera",-->
<!--                    "Vangaži", "Varakļāni", "Vecsēlpils", "Ventspils", "Viesīte", "Viļaka", "Viļāni", "Zilupe", "Akmenė", "Alytus",-->
<!--                    "Anykščiai", "Ariogala", "Baltoji", "Vokė", "Birštonas", "Biržai", "Daugai", "Druskininkai", "Dūkštas",-->
<!--                    "Dusetos", "Eišiškės", "Elektrėnai", "Ežerėlis", "Gargždai", "Garliava", "Gelgaudiškis", "Grigiškės",-->
<!--                    "Ignalina", "Jieznas", "Jonava", "Joniškėlis", "Joniškis", "Jurbarkas", "Kaišiadorys", "Kalvarija", "Kaunas",-->
<!--                    "Kavarskas", "Kazlų", "Rūda", "Kėdainiai", "Kelmė", "Kybartai", "Klaipėda", "Kretinga", "Kudirkos",-->
<!--                    "Naumiestis", "Kupiškis", "Kuršėnai", "Lazdijai", "Lentvaris", "Linkuva", "Marijampolė", "Mažeikiai",-->
<!--                    "Molėtai", "Naujoji", "Akmenė", "Nemenčinė", "Neringa", "Obeliai", "Pabradė", "Pagėgiai", "Pakruojis",-->
<!--                    "Palanga", "Pandėlys", "Panemunė", "Panevėžys", "Pasvalys", "Plungė", "Priekulė", "Prienai", "Radviliškis",-->
<!--                    "Ramygala", "Raseiniai", "Rietavas", "Rokiškis", "Rūdiškės", "Salantai", "Seda", "Simnas", "Skaudvilė",-->
<!--                    "Skuodas", "Smalininkai", "Subačius", "Šakiai", "Šalčininkai", "Šeduva", "Šiauliai", "Šilalė", "Šilutė",-->
<!--                    "Širvintos", "Švenčionėliai", "Švenčionys", "Tauragė", "Telšiai", "Tytuvėnai", "Trakai", "Troškūnai",-->
<!--                    "Ukmergė", "Utena", "Užventis", "Vabalninkas", "Varėna", "Varniai", "Veisiejai", "Venta", "Viekšniai",-->
<!--                    "Vievis", "Vilkaviškis", "Vilkija", "Vilnius", "Virbalis", "Visaginas", "Zarasai", "Žagarė", "Žiežmariai"];-->
<!--                autocomplete(document.getElementById("departurePoint"), cities);-->
<!--                autocomplete(document.getElementById("destinationPoint"), cities);-->
<!--            </script>-->


</div>
        </div>




    <div id="secondNav">
        <div class="logo">
            <img title="logo" src="images/logo.png" alt="Roady logo">
        </div>
    </div>
</div>

<div id="footer">
    <p>Copyrights: Forest Team Active users: <span ></span> Available rides: </p>
</div>


</body>
</html>