<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>My profile</title>
	<link rel="icon" type="image/x-icon" href="images/logo.jpg"/>
	<link href="/styles/other-pages-style.css" rel="stylesheet"/>
	<meta name="viewport" content="width=device-width; initial-scale=1.0"/>
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>

<body>
<header class="main-header">
	
	<div class="logo-and-name">
		<img src="images/logo.jpg" alt="Roady logo" class="logo"/>
		<h1>Roady</h1>
	</div>
	
	<nav class="navigation">
		<ul class="navigation-list">
			<li>
				<a class="nav-list-link" href="/user_form"/>
				<ion-icon name="person" class="nav-icon"></ion-icon>
				</a>
			</li>
			<li>
				<a class="nav-list-link" href="/logout"/>
				<ion-icon name="Log-out" class="nav-icon"></ion-icon>
				</a>
			</li>
		</ul>
		<span class="my-name" th:text="${firstName}"></span>
	</nav>

</header>

<div class="page-content">
	
	<div class="container grid grid--1-cols change-password">
		
		<h2 class="my-profile-title">Change password</h2>
		
		<form action="/change_password" method="post">
			
			<div class="form-row">
				<label class="table-label col--1">Enter current password</label>
				<input class="info-field col--2" type="password" name="password" required minlength="4" maxlength="10"/>
			</div>
			
			<script>var check = function () {
				if (document.getElementById('newPassword').value ==
						 document.getElementById('confirm_password').value) {
					document.getElementById('message').style.color = 'green';
					document.getElementById('message').innerHTML = 'New Passwords are matching';
				} else {
					document.getElementById('message').style.color = 'red';
					document.getElementById('message').innerHTML = 'New Passwords not matching';
				}
			}</script>
			
			<div class="form-row">
				<label class="table-label col--1">New password
					<input class="info-field col--2" name="newPassword" id="newPassword" type="password" onkeyup='check();'/>
				</label>
			</div>
			
			<div class="form-row">
				<label class="table-label col--1">Confirm password
					<input class="info-field col--2" type="password" name="confirm_password" id="confirm_password"
					       onkeyup='check();'/>
				</label>
				<span id='message'></span>
			</div>
			
			<div>
				<p th:if="${status == 'incorrect_password'}" style="color: red; background: #facccc">
					<span>Incorrect password</span>
				</p>
			</div>
			
			<button class="register-button" href="/change_password" type="submit">Update</button>
		
		</form>
	
	</div>
	
</div>

<aside>
	<p>Active users: <span th:text="${users}"></span>
	<p>Available rides: <span th:text="${countUsers}"></span></p>
</aside>

<footer>
	<p class="copyrights">Forest Team &copy; 2022</p>
</footer>

</body>
</html>