<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registration successful</title>
  <link rel="icon" type="image/x-icon" href="images/logo.png">

  <link rel="stylesheet" href="styles/style1.css" >
  <meta name="viewport" content="width=device-width; initial-scale=1.0" >
  <meta http-equiv = "refresh" content = "8; url = 'login'" />

</head>
<body>
<div id="header"><h1>Welcome to the Roady!</h1></div>

<div id="pageContent">

  <div id="firstNav">
    <div class="logo">
      <img title="logo" src="images/logo.png" alt="Roady logo">
    </div>
  </div>

  <div id="Content">

    <!--        <h3><a th:href="@{/register}">Register</a></h3>-->
    <!--        <h3><a th:href="@{/login}">Login</a> </h3>-->
    <div>
      <h3 style="-webkit-text-fill-color: #053745">You have signed up successfully!</h3>
      <h4 style="-webkit-text-fill-color: #154468"><a th:href="@{/login}">If login page does not open Click here to login</a></h4>
    </div>


    <br><br>


  </div>

  <div id="secondNav">
    <div class="logo">
      <img title="logo" src="images/logo.png" alt="Roady logo">
    </div>
  </div>




</div>

<div id="footer">
  <p>Copyrights: Forest Team Active users: <span th:text="${countUsers}"></span> Available rides: </p>
</div>

</body>
</html>