<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Registration successful</title>
	<link rel="icon" type="image/x-icon" href="images/logo.jpg">
	<link href="/styles/index-style.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<meta http-equiv="refresh" content="8; url = 'login'"/>
</head>

<body>

<header class="main-header">
	<h1>Welcome to the Roady</h1>
</header>

<div class="container">
	
	<p class="success-message">WELCOME ON BOARD TO ROADY. <br><br>
		Drive and travel safe!</p>
	<h4>
		<a class="login-message" th:href="@{/login}">If login page does not open Click here to login</a>
	</h4>

</div>

<aside>
	<p>Active users: <span th:text="${users}"></span>&nbsp</p>
	<p> Available rides: <span th:text="${rides}"></span></p>
</aside>

<footer>
	<p class="copyrights">Forest Team &copy; 2022</p>
</footer>

</body>
</html>