<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Registration</title>
	<link rel="icon" type="image/x-icon" href="images/logo.jpg">
	<link href="/styles/index-style.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
</head>

<body>

<header class="main-header">
	<h1>Welcome to the Roady</h1>
</header>

<div class="main-part">
	
	<img src="images/logo.jpg" alt="Roady logo" class="image">
	
	<div class="login-form">
		<h2>Please Sign Up</h2>
		
		<form th:action="@{/process_register}" method="post"
		      th:object="${user}">

				<div>
					<input type="email" class="input" th:field="*{email}" placeholder="Enter your email" required/>
				</div>
				
				<script>var check = function () {
					if (document.getElementById('password').value ==
							 document.getElementById('confirm_password').value) {
						document.getElementById('message').style.color = 'green';
						document.getElementById('message').innerHTML = 'Passwords are matching';
					} else {
						document.getElementById('message').style.color = 'red';
						document.getElementById('message').innerHTML = 'Passwords not matching';
					}
				}</script>
				
				<div>
					<input name="password" class="input" type="password" placeholder="Enter your password"
					       onkeyup='check();'/>
				</div>
				
				<div>
					<input type="password" class="input" name="confirm_password" placeholder="Confirm password"
					       onkeyup='check();'/> <br>
					<span id='message'></span>
				</div>
				
				<div>
					<input type="text" class="input" placeholder="Enter first name" required minlength="2" maxlength="20"
					       th:field="*{firstName}"/>
				</div>
				
				<div>
					<input type="text" class="input" placeholder="Enter last name" required minlength="2" maxlength="20"
					       th:field="*{lastName}"/>
				</div>
				
				<div>
					<input type="text" class="input" placeholder="Enter phone number" required minlength="5" maxlength="20"
					       th:field="*{phoneNumber}"/>
				</div>
				
				<div>
					<button class="login-button" type="submit">Sign Up</button>
				</div>

		</form>
	</div>
	
	<form class="invite-register" action="/login">
		<h2>Already have an account?</h2>
		<button th:href="@{/login}" class="register-button" type="submit">Sign in</button>
	</form>

</div>

<aside>
	<p>Active users: <span th:text="${users}"></span>&nbsp</p>
	<p> Available rides: <span th:text="${rides}"></span></p>
</aside>

<footer>
	<p class="copyrights">Forest Team &copy; 2022</p>
</footer>

</body>
</html>