<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="icon" type="image/x-icon" href="roady_logo.jpg">
<head>
  <meta charset="UTF-8">
  <title>Registration</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container text-center">
  <div>
    <h1>User Registration - Sign Up</h1>
  </div>

  <div>
    <form th:action="@{/process_register}" method="post"
          style="max-width: 600px; margin: 0 auto;"
          th:object="${user}">
      <div class="m-3">
        <div class="form-group row">
          <label class="col-form-label col-4">E-mail</label>
          <div class="col-8">
            <input type="email" class="form-control" th:field="*{email}" required/>
          </div>
        </div>
        <br>
        <div class="form-group row">
          <label class="col-form-label col-4">Password</label>
          <div class="col-8">
            <input type="password" class="form-control" th:field="*{password}" required minlength="4" maxlength="10"/>
          </div>
        </div>
        <br>
        <div class="form-group row">
          <label class="col-form-label col-4">First Name</label>
          <div class="col-8">
            <input type="text" class="form-control" th:field="*{firstName}" required minlength="2" maxlength="20"/>
          </div>
        </div>
        <br>
        <div class="form-group row">
          <label class="col-form-label col-4" >Last Name</label>
          <div class="col-8">
            <input type="text" class="form-control" th:field="*{lastName}" required minlength="2" maxlength="20"/>
          </div>
        </div>
        <br>
        <div class="form-group row">
          <label class="col-form-label col-4" >Phone Number</label>
          <div class="col-8">
            <input type="text" class="form-control" th:field="*{phoneNumber}" required minlength="5" maxlength="20"/>
          </div>
        </div>
        <br>
        <div>
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>

      </div>
    </form>
  </div>

</div>

</body>
</html>