<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Add ride request</title>
	<link rel="icon" type="image/x-icon" href="images/logo.jpg"/>
	<link href="/styles/other-pages-style.css" rel="stylesheet"/>
	<meta name="viewport" content="width=device-width; initial-scale=1.0"/>
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>

<body>
<header class="main-header">
	
	<div class="logo-and-name">
		<img src="images/logo.jpg" alt="Roady logo" class="logo"/>
		<h1>Roady</h1>
	</div>
	
	<nav class="navigation">
		<ul class="navigation-list">
			<li>
				<a class="nav-list-link" href="/passenger_today"/>
				<div class="switch-user-mode">
					<ion-icon name="swap-horizontal" aria-label="swap to passenger" class="icon-swap"></ion-icon>
					<ion-icon name="walk" aria-label="swap to passenger" class="icon-swap-passenger"></ion-icon>
				</div>
				</a>
			</li>
			<li>
				<a class="nav-list-link" href="/driver_today"/>
				<div class="switch-user-mode">
					<ion-icon name="swap-horizontal" aria-label="swap to driver" class="icon-swap"></ion-icon>
					<ion-icon name="car-sport" aria-label="swap to driver" class="icon-swap-passenger"></ion-icon>
				</div>
				</a>
			</li>
			<li>
				<a class="nav-list-link" href="/user_form"/>
				<ion-icon name="person" class="nav-icon"></ion-icon>
				</a>
			</li>
			<li>
				<a class="nav-list-link" href="/logout"/>
				<ion-icon name="Log-out" class="nav-icon"></ion-icon>
				</a>
			</li>
		</ul>
		<span class="my-name" th:text="${firstName}"></span>
	</nav>

</header>

<section class="second-main">
	<nav class="navigation">
		<ul class="navigation-list">
			<li>
				<a class="nav-list-link-text" href="/driver_today">Find passengers</a>
			</li>
			<li>
				<a class="nav-list-link-text" href="/my_active_transport_offers">My offers(<span
						 th:text="${userRidesCount}"></span>)</a>
			</li>
			<li>
				<a class="nav-list-link-text" href="/transport_offer">Available transport</a>
			</li>
			</li>
			<li><a class="nav-list-link-text" href="/cars">Car info</a>
			</li>
		</ul>
	</nav>
</section>

<div class="page-content">
	
	<div class="container form-one-column">
		
		<h2 class="search-title title-place">My car</h2>
		

			
			<div class="form-row grid--2-cols-inside">
				<label class="table-label">Car type:</label>
				<p class="info-field" type="text" th:text="${carType}"/>
			</div>
			
			<div class="form-row grid--2-cols-inside">
				<label class="table-label">Plate number:</label>
				<p class="info-field" type="text" th:text="${plateNumber}"/>
			</div>
			
			<div class="form-row grid--2-cols-inside">
				<label class="table-label">Available seats:</label>
				<form action="/update_seats" method="post">
					<input class="info-field" type="number" name="availableSeats" th:value="${availableSeats}">
					<p></p>
					<button class="register-button" type="submit">Submit</button>
				</form>
			</div>
		

	
	</div>
</div>

<aside>
	<p>Active users: <span th:text="${users}"></span>
	<p>Available rides: <span th:text="${countUsers}"></span></p>
</aside>

<footer>
	<p class="copyrights">Forest Team &copy; 2022</p>
</footer>

</body>
</html>