<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User profile</title>
  <link rel="icon" type="image/x-icon" href="images/logo.jpg">

  <link rel="stylesheet" href="styles/style1.css" >
  <meta name="viewport" content="width=device-width; initial-scale=1.0" >

</head>
<body>
<div id="header"><h1>Welcome to the Roady!</h1>

</div>

<div id="pageContent">



  <div id="firstNav">
    <div class="logo">
      <img title="logo" src="images/logo.jpg" alt="Roady logo">
    </div>
  </div>

  <div id="Content">

    <div class="myMenyButtons">

      <form action="/logout" method="get">
        <button type="submit">Logout</button>
      </form>
      <form action="/user_form" method="get">
        <button type="submit">My profile info</button>
      </form>
      <form action="/user_profile" method="get">
        <button type="submit">Select an action</button>

      </form>
      <form action="/cars" method="get">
        <button type="submit">Your cars</button>
      </form>
      <form action="/transport_offer" method="get">
        <button type="submit">Post available transport</button>
      </form>
      <form action="/driver_today" method="get">
        <button type="submit">Find passengers</button>
      </form>

    </div>


    <div >
      <h3>Your car</h3>
      <div>
        <table>
          <tr>
            <td>
              <h4>Car type: </h4>
            </td>
            <td>
              <p th:text="${carType}"></p>
            </td>
          </tr>
          <tr>
            <td>
              <h4>Plate number: </h4>
            </td>
            <td>
              <p th:text="${plateNumber}"></p>
            </td>
          </tr>
          <tr>
            <td>
              <h4>Available seats: </h4>
            </td>
            <td>
              <form action="/update_seats" method="post">
                <input type="number" name="availableSeats" th:value="${availableSeats}">
                <input type="submit">
              </form>

            </td>
          </tr>
        </table>
      </div>
    </div>

<!--    <a class="likeButton" href="updateAvailableSeatsNumber">Update Seat numbers</a>-->
    <!--    <a class="likeButton" href="removeCar">Remove Car</a>-->



  </div>


  <div id="secondNav">
    <div class="logo">
      <img title="logo" src="images/logo.jpg" alt="Roady logo">
    </div>
  </div>




</div>

<div id="footer">
  <p>Active users: <span th:text="${countUsers}"></span> Available rides: </p>
  <p>Forest Team &copy; 2022</p>
</div>

</body>
</html>