<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>My profile</title>
	<link rel="icon" type="image/x-icon" href="images/logo.jpg"/>
	<link href="/styles/other-pages-style.css" rel="stylesheet"/>
	<meta name="viewport" content="width=device-width; initial-scale=1.0"/>
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>

<body>
<header class="main-header">
	
	<div class="logo-and-name">
		<img src="images/logo.jpg" alt="Roady logo" class="logo"/>
		<h1>Roady</h1>
	</div>
	
	<nav class="navigation">
		<ul class="navigation-list">
			<li>
				<a class="nav-list-link" href="/driver_today"/>
				<div class="switch-user-mode">
					<ion-icon name="swap-horizontal" aria-label="swap to passenger" class="icon-swap"></ion-icon>
					<ion-icon name="car-sport" aria-label="swap to driver" class="icon-swap-driver"></ion-icon>
				</div>
				</a>
			</li>
			<li>
				<a class="nav-list-link" href="/passenger_today"/>
				<div class="switch-user-mode">
					<ion-icon name="swap-horizontal" aria-label="swap to passenger" class="icon-swap"></ion-icon>
					<ion-icon name="walk" aria-label="swap to passenger" class="icon-swap-passenger"></ion-icon>
				</div>
				</a>
			</li>
			<li>
				<a class="nav-list-link" href="/user_form"/>
				<ion-icon name="person" class="nav-icon"></ion-icon>
				</a>
			</li>
			<li>
				<a class="nav-list-link" href="/logout"/>
				<ion-icon name="Log-out" class="nav-icon"></ion-icon>
				</a>
			</li>
		</ul>
		<span class="my-name" th:text="${firstName}"></span>
	</nav>

</header>

<div class="page-content">
	
	<div class="container grid grid--2-cols my-profile">
		
		<h2 class="my-profile-title">My Profile</h2>
		
		<table class="table" style="width: 500px">
			<tr>
				<td>
					<p class="table-label">Email:</p>
				</td>
				<td>
					<p class="info-field" th:text="${email}">email</p>
				</td>
			</tr>
			
			<tr>
				<td>
					<p class="table-label">First name:</p>
				</td>
				<td>
					<p class="info-field" th:text="${firstName}">first name</p>
				</td>
			</tr>
			
			<tr>
				<td>
					<p class="table-label">Last name:</p>
				</td>
				<td>
					<p class="info-field" th:text="${lastName}">last name</p>
				</td>
			</tr>
			
			<tr>
				<td>
					<p class="table-label">Phone number:</p>
				</td>
				<td>
					<p class="info-field" th:text="${phoneNumber}">phone number</p>
				</td>
			</tr>
			<tr>
				<td>
					<p class="table-label">Member since:</p>
				</td>
				<td>
					<p class="info-field" th:text="${registredAt}">member since</p>
				</td>
			</tr>
		</table>
		
		<div class="profile-btn">
			<tr>
				<td>
					<a class="register-button" href="/my_info">Update my info</a>
				</td>
				</tr>
			<tr>
				<td>
					<a class="register-button" href="/password_change">Change password</a>
				</td>
			</tr>
		</div>
		
		<div class="driver-rtg">
			<div class="driver-rtg-title">
				<ion-icon name="car-sport" aria-label="driver" class="icon-swap-driver"></ion-icon>
				<p> rating: </p>
			</div>
			
			<div>
				<p class="rtg-field" th:text="${avrPassengerRating}">pass rtg</p>
			</div>
		</div>


		
		<div class="pass-rtg">
			<div class="pass-rtg-title">
				<ion-icon name="walk" aria-label="passenger" class="icon-swap-passenger"></ion-icon>
				<p> rating: </p>
			</div>
			<div>
				<p class="rtg-field" th:text="${avrDriverRating}">driver rtg</p>
			</div>
		</div>

	</div>

</div>

<aside>
	<p>Active users: <span th:text="${users}"></span>&nbsp</p>
	<p> Available rides: <span th:text="${rides}"></span></p>
</aside>

<footer>
	<p class="copyrights">Forest Team &copy; 2022</p>
</footer>

</body>
</html>