<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registration successful</title>
  <link rel="icon" type="image/x-icon" href="images/logo.png">

  <link rel="stylesheet" href="styles/style1.css" >
  <link rel="stylesheet" href="styles/user_form.css" >
  <meta name="viewport" content="width=device-width; initial-scale=1.0" >

</head>
<body>
<div id="header"><h1>Welcome to the Roady!</h1></div>

<div id="pageContent">

  <div id="firstNav">
    <div class="logo">
      <img title="logo" src="images/logo.png" alt="Roady logo">
    </div>
  </div>

  <div id="Content">

    <myMenyButtons>

      <form action="/logout" method="get">
        <button type="submit">Logout</button>
      </form>
      <form action="/user_form" method="get">
        <button type="submit">My profile info</button>
      </form>
      <form action="/user_profile" method="get">
        <button type="submit">Select an action</button>

      </form>

    </myMenyButtons>

    <div >
      <div>
        <h1>My Profile</h1>
      </div>
      <br>

      <table >

        <tr>
          <td>
            <h4>Email: </h4>
          </td>
          <td>
            <p th:text="${email}"></p>
          </td>
        </tr>

        <tr>
          <td>
            <h4>First name: </h4>
          </td>
          <td>
            <p th:text="${firstName}"></p>
          </td>
        </tr>

        <tr>
          <td>
            <h4>Last name: </h4>
          </td>
          <td>
            <p th:text="${lastName}"></p>
          </td>
        </tr>

        <tr>
          <td>
            <h4> User rating: </h4>
          </td>
          <td>
            <p th:text="${avrRating}"></p>
          </td>
        </tr>

        <tr>
          <td>
            <h4>Phone number: </h4>
          </td>
          <td>
            <p th:text="${phoneNumber}"></p>
          </td>
        </tr>
        <tr>
          <td>
            <h4>Member since: </h4>
          </td>
          <td>
            <p th:text="${registredAt}"></p>
          </td>
        </tr>

      </table>

<div>
  <a class="likeButton" href="/my_info"> Update your information</a>
  <a class="likeButton" href="/password_change">Change password</a>

</div>

</div>

    <br><br>
  </div>

  <div id="secondNav">
    <div class="logo">
      <img title="logo" src="images/logo.png" alt="Roady logo">
    </div>
  </div>
</div>

<div id="footer">
  <p>Copyrights: Forest Team Active users: <span th:text="${countUsers}"></span> Available rides: </p>
</div>

</body>
</html>