<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User profile</title>
    <link rel="icon" type="image/x-icon" href="../static/images/logo.png">

    <link rel="stylesheet" href="../static/styles/styles1.css" >
    <meta name="viewport" content="width=device-width; initial-scale=1.0" >

</head>
<body>
<div id="header"><h1>Welcome to the Roady!</h1>

  <!-- needs revision-->
  <form th:action="@{/logout}" method="post">
    <div style="margin-right: 5%">
      <a class="likeButton" th:href="@{/my_info}" >My profile</a>
      <a class="likeButton" type="submit" >Logout</a>
    </div>


    <!--      <input type="submit" value="Sign Out"/>-->
  </form>

</div>

<div id="pageContent">

  <div id="firstNav">
    <div class="logo">
      <img title="logo" src="../static/images/logo.png" alt="Roady logo">
    </div>
  </div>

  <div id="Content">
    <div >
<!--      <div >-->
<!--        <form th:action="@{/logout}" method="post">-->

<!--          <a class="likeButton" th:href="@{/my_info}" >My profile</a>-->

<!--          <a class="likeButton"  >Logout</a>-->

<!--          &lt;!&ndash;      <input type="submit" value="Sign Out"/>&ndash;&gt;-->
<!--        </form>-->

<!--      </div>-->

      <p> Welcome !! add name

      </p>

<!--      <div>-->
<!--        <img src="/static/images/logo.png"  alt="Roady logo">-->
<!--      </div>-->
      <div>
        <h3>What is your plan for today?</h3>
      </div>
      <div>

        <a class="likeButton"  >Looking for a ride</a>
        <a class="likeButton"  >Offering a ride</a>

<!--        <button type="button" class="btn btn-success">Looking for a ride</button>-->
<!--        <button type="button" class="btn btn-danger">Offering a ride</button>-->
      </div>

    </div>

</div>


  <div id="secondNav">
    <div class="logo">
      <img title="logo" src="../static/images/logo.png" alt="Roady logo">
    </div>
  </div>




</div>

<div id="footer">
  <p>Copyrights: Forest Team Active users: Available rides: </p>
</div>

</body>
</html>