<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User profile</title>
    <link rel="icon" type="image/x-icon" href="images/logo.png">

    <link rel="stylesheet" href="styles/style1.css" >
    <meta name="viewport" content="width=device-width; initial-scale=1.0" >

</head>
<body>
<div id="header"><h1>Welcome to the Roady!</h1>

</div>

<div id="pageContent">



  <div id="firstNav">
    <div class="logo">
      <img title="logo" src="images/logo.png" alt="Roady logo">
    </div>
  </div>

  <div id="Content">

      <div class="myMenyButtons">

          <form action="/logout" method="get">
              <button type="submit">Logout</button>
          </form>
          <form action="/user_form" method="get">
              <button type="submit">My profile info</button>
          </form>
          <form action="/user_profile" method="get">
              <button type="submit">Select an action</button>
          </form>

      </div>

<!--      <form method="get" action="/is_loggedIn">-->

<!--      </form>-->


    <div >

      <p> Welcome <span th:text="${firstName}"></span></p>

      <div>
        <h3>What is your plan for today?</h3>
      </div>
      <div>
        <a class="likeButton"   href="driver_today">Offering a ride</a>
        <a class="likeButton"  >Looking for a ride</a>
      </div>

    </div>

</div>


  <div id="secondNav">
    <div class="logo">
      <img title="logo" src="images/logo.png" alt="Roady logo">
    </div>
  </div>




</div>

<div id="footer">
  <p>Copyrights: Forest Team Active users: <span th:text="${countUsers}"></span> Available rides: </p>
</div>

</body>
</html>