<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link rel="icon" type="image/x-icon" href="roady_logo.jpg">
<head>
  <meta charset="UTF-8">
  <title>All Users</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>
<body>
<div class="container text-center">
  <div>
    <form th:action="@{/logout}" method="post">
      <p>
        Welcome <b>[[${#request.userPrincipal.principal.FullName}]]</b>
        <!--                    This line should show the role of the current User near the name, at the bottom-->
        <span sec:authentification="principal.authorities"></span>
      </p>
      <input type="submit" value="Sign Out"/>
    </form>
  </div>
  <div>
    <h1>List Of All Users</h1>
  </div>
  <div>
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
      <tr>
        <th>User ID</th>
        <th>E-mail</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone</th>
        <th>Avr. rating</th>
        <th>Registered At</th>
<!--        <th>Roles</th>-->
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="user: ${listUsers}">
        <td th:text="${user.id}">User ID</td>
        <td th:text="${user.email}">E-mail</td>
        <td th:text="${user.firstName}">First name</td>
        <td th:text="${user.lastName}">Last name</td>
        <td th:text="${user.phoneNumber}">Phone</td>
        <td th:text="${user.avrRating}">Avr. rating</td>
        <td th:text="${user.registeredAt}">Registered At</td>
<!--        <td th:text="${user.roles}">Roles</td>-->
        <td>
          <a th:href="@{'/users/edit/' + ${user.id}}">Edit</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

</body>
</html>