*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #0BFAFB;
}

.main-header {
    display: flex;
    align-items: center;
    background-color: #07082E;
    padding: 0 40px;
    color: #0BFAFB;
    font-size: 30px;
    text-transform: uppercase;
    justify-content: space-between;
}

.second-main {
    display: flex;
    align-items: center;
    background-image: linear-gradient(#07082E, #0676f5);
    padding: 0 50px;
    justify-content: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #07082E;
    padding: 10px;
}

aside {
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    background-color: #07082E;
    padding: 10px;
}

.copyrights {
    font-size: 15px;
}

.logo-and-name {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.page-content {
    width: 1200px;
    /* centers horizontally */
    margin: 0 auto;
    padding: 0 20px;
    /*align-items: center;*/
}

/******************************/
/* NAVIGATION */
/******************************/

.my-name {
    display: flex;
    justify-content: center;
    margin-left: 30px;
    /*padding-top: 20px;*/
    letter-spacing: 2px;
    font-size: 20px;
}

.navigation-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
    /*text-transform: capitalize;*/
}

.nav-list-link:link,
.nav-list-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #0BFAFB;
    font-size: 40px;
    padding: 5px;
    transition: all 0.3s;
}

.nav-list-link:hover,
.nav-list-link:active {
    display: inline-block;
    color: #E84855;
}

.nav-list-link-text:link,
.av-list-link-text:visited {
    display: inline-block;
    text-decoration: none;
    color: #0BFAFB;
    font-size: 20px;
    padding: 5px;
    transition: all 0.3s;
}

.nav-list-link-text:hover,
.nav-list-link-text:active
{
    display: inline-block;
    color: #E84855;
}

.container {
    max-width: 800px;
    padding: 0 20px;
    margin: 0 auto;
    text-align: center;
}

.grid {
    display: grid;
    column-gap: 40px;
}

.grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
    grid-template-columns: 2fr 2fr 1fr;
}

/******************************/
/* USER MODE SECTION */
/******************************/

.section-role {
    padding: 50px 0;
    justify-items: center;
    color: #0676F5;
}

.icon {
    text-decoration: none;
    color: #0BFAFB;
    font-size: 50px;
    background-color: #07082E;
    justify-items: center;
    padding: 6px;
    border-radius: 100%;
}


.icon-swap-passenger {
    margin-left: -20px;
}

.user-mode-title {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h3 {
    margin-top: 5px;
    margin-bottom: 30px;
}

h2 {
    padding-top: 20px;
    grid-column: 1 / -1;
}

ul {
    margin-left: 30px;
}

.tag {
    display: inline-block;
    font-size: 10px;
    background-color: #E84855;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #0BFAFB;
    border-radius: 5px;
    padding: 2px;
}

.role {
    height: 350px;
    background-color: #E6F1FE;
    border-radius: 5px;
}

.driver {
    background-color: #E6F1FE;
    box-shadow: 3px 3px #0676F5;
}

.passenger {
    background-color: #FDEDEE;
    box-shadow: 3px 3px #E84855;
}

.user-mode-question {
    padding-bottom: 20px;
    color: #07082E;
    text-align: center;
}

.user-mode-detail {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

/******************************/
/* BUTTONS */
/******************************/

.role-btn {
    text-align: center;
    margin-top: 20px;
}

.btn {
    padding: 10px;
    font-size: 18px;
    width: 120px;
    border-radius: 5px;
}

.btn--driver {
    border-color: #0676F5;
    background-image: linear-gradient(to right bottom, #0676f5, #E6F1FE);

}

.btn--passenger {
    border-color: #E84855;
    background-image: linear-gradient(to right bottom, #E84855, #FDEDEE);
    align-content: center;
    margin-top: 25px;
}


.input {
    font-size: 20px;
    margin-bottom: 5px;
    color: #757575;
    width: 100%;
    border-radius: 5px;
    padding: 12px;
}

.register-button {
    background-color: #0676F5;
    color: #07082E;
    border: #0676F5 solid;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    width: 100%;
    border-radius: 5px;
    padding: 12px;
}

.register-button:hover {
    background-color: #E84855;
    color: #07082E;
    border: #E84855 solid;
}

.search {
    height: 200px;
}

.search-title {
    color: #07082E;
}