*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #0BFAFB;
}

.main-header {
    display: flex;
    align-items: center;
    background-color: #07082E;
    padding: 0 40px;
    color: #0BFAFB;
    font-size: 30px;
    text-transform: uppercase;
    justify-content: space-between;
}

.second-main {
    display: flex;
    align-items: center;
    background-image: linear-gradient(#07082E, #0676f5);
    padding: 0 50px;
    justify-content: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #07082E;
    padding: 10px;
}

aside {
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    background-color: #07082E;
    padding: 10px;
}

.copyrights {
    font-size: 15px;
}

.logo-and-name {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.page-content {
    width: 1200px;
    /* centers horizontally */
    margin: 0 auto;
    padding: 0 20px;
    /*align-items: center;*/
}

/******************************/
/* NAVIGATION */
/******************************/

.my-name {
    display: flex;
    justify-content: center;
    margin-left: 30px;
    /*padding-top: 20px;*/
    letter-spacing: 2px;
    font-size: 20px;
}

.navigation-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
    /*text-transform: capitalize;*/
}

.nav-list-link:link,
.nav-list-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #0BFAFB;
    font-size: 40px;
    padding: 5px;
    transition: all 0.3s;
}

.nav-list-link:hover,
.nav-list-link:active {
    display: inline-block;
    color: #E84855;
}

.nav-list-link-text {
    color: #0BFAFB;
}

.nav-list-link-text:link,
.av-list-link-text:visited {
    display: inline-block;
    text-decoration: none;
    color: #0BFAFB;
    font-size: 20px;
    padding: 5px;
    transition: all 0.3s;
}

.nav-list-link-text:hover,
.nav-list-link-text:active
{
    display: inline-block;
    color: #E84855;
}

.container {
    max-width: 800px;
    padding: 0 20px;
    margin: 0 auto;
    text-align: center;
}

.grid {
    display: grid;
    column-gap: 40px;
}

.grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
    grid-template-columns: 2fr 2fr 1fr;
}

.grid--1-cols {
    grid-template-columns: 1fr;
}

/******************************/
/* USER MODE SECTION */
/******************************/

.section-role {
    padding: 50px 0;
    justify-items: center;
    color: #0676F5;
}

.icon {
    text-decoration: none;
    color: #0BFAFB;
    font-size: 50px;
    background-color: #07082E;
    justify-items: center;
    padding: 6px;
    border-radius: 100%;
}


.icon-swap-passenger {
    margin-left: -20px;
}

.user-mode-title {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h3 {
    margin-top: 5px;
    margin-bottom: 30px;
}

h2 {
    padding-top: 20px;
    grid-column: 1 / -1;
}

ul {
    margin-left: 30px;
}

.tag {
    display: inline-block;
    font-size: 10px;
    background-color: #E84855;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #0BFAFB;
    border-radius: 5px;
    padding: 2px;
}

.role {
    height: 350px;
    background-color: #E6F1FE;
    border-radius: 5px;
}

.driver {
    background-color: #E6F1FE;
    box-shadow: 3px 3px #0676F5;
}

.passenger {
    background-color: #FDEDEE;
    box-shadow: 3px 3px #E84855;
}

.user-mode-question {
    padding-bottom: 20px;
    color: #07082E;
    text-align: center;
}

.user-mode-detail {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

/******************************/
/* BUTTONS */
/******************************/

.role-btn {
    text-align: center;
    margin-top: 20px;
}

.btn {
    padding: 10px;
    font-size: 18px;
    width: 120px;
    border-radius: 5px;
}

.btn--driver {
    border-color: #0676F5;
    background-image: linear-gradient(to right bottom, #0676f5, #E6F1FE);

}

.btn--passenger {
    border-color: #E84855;
    background-image: linear-gradient(to right bottom, #E84855, #FDEDEE);
    align-content: center;
    margin-top: 25px;
}

.btn--passenger-trg {
    border-color: #E84855;
    background-image: linear-gradient(to right bottom, #E84855, #FDEDEE);
    align-content: center;
}

.input {
    font-size: 20px;
    margin-bottom: 5px;
    color: #757575;
    width: 100%;
    border-radius: 5px;
    padding: 12px;
}

.register-button {
    background-color: #0676F5;
    color: #07082E;
    border: #0676F5 solid;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    width: 100%;
    border-radius: 5px;
    padding: 12px;
    text-decoration: none;
    margin-bottom: 2px;
}

.register-button:hover {
    background-color: #E84855;
    color: #07082E;
    border: #E84855 solid;
}

.search {
    height: 200px;
}

.search-title {
    color: #07082E;
}

/******************************/
/* TABLE */
/******************************/

.table {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
}

.table-finish-ride {
    height: 450px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 2fr 1fr;
    align-content: center;
}

.my-profile {
    height: 400px;
    grid-template-rows: 1fr 3fr 3fr 2fr;
    grid-template-columns: 2fr 1fr;
    align-content: center;
}

.my-profile-title{
    color: #07082E;
    height: 30px;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

.table-label {
    text-align: right;
    font-size: 20px;
    color: #07082E;
}
 .info-field {
     border: #757575 solid 1px;
     border-radius: 5px;
     color: #07082E;
     font-size: 20px;
     height: 35px;
 }

.profile-btn {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    display: inline-block;
    margin-top: 25px;
}

 .pass-rtg {
     grid-row: 2 / 3;
     grid-column: 2 / 3;
     background-image: linear-gradient(to right bottom, #E84855, #FDEDEE);
     align-content: center;
     margin-bottom: 5px;
     border-radius: 5px;
     color: #07082E;
 }

 .driver-rtg {
     grid-row: 3 / 4;
     grid-column: 2 / 3;
     background-image: linear-gradient(to right bottom, #0676f5, #E6F1FE);
     border-radius: 5px;
     color: #07082E;
 }

 .driver-rtg-title {
     display: flex;
     font-size: 30px;
     align-items: center;
     justify-content: center;
 }

 .pass-rtg-title {
     display: flex;
     margin-left: 20px;
     font-size: 30px;
     align-items: center;
     justify-content: center;
 }

 .rtg-field {
     font-size: 30px;
     align-items: center;
     justify-content: center;
     padding-top: 20px;
 }

.change-password {
    height: 400px;
    width: 400px;
    align-content: center;
    row-gap: 5px;
    grid-template-rows: 1fr 3fr;
    column-gap: 0;
}

.form-row {
    margin-bottom: 10px;
}

/*.col--first {*/
/*    grid-column: 1 / 2;*/
/*}*/

/*.col--second {*/
/*    grid-column: 2 / 3;*/
/*}*/

.form-one-row {
    display: flex;
    width: 400px;
    align-items: center;
    margin: 10px auto;
}

.form-one-row info-field {
    width: 250px;
}

.request-link {
    font-size: 20px;
    text-align: left;
}

.route-info {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
}

.driver-info {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.car-info {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.title-place {
    margin: 20px 0;
    grid-column: 1 / 3;
}

.ride-info {
    grid-row: 1 / 4;
    grid-column: 1 / 2;
    border-radius: 5px;
    border: rgba(204, 204, 204, 0.54) solid 1px;
}

.ride-pass-info{
    background-image: linear-gradient(to right bottom, #E84855, #FDEDEE);
    align-content: center;
    margin-bottom: 5px;
    border-radius: 5px;
    color: #07082E;
    grid-row: 1 / 3;
    grid-column: 2 / 3;
}

.ride-driver-info {
    background-image: linear-gradient(to right bottom, #0676f5, #E6F1FE);
    align-content: center;
    margin-bottom: 5px;
    border-radius: 5px;
    color: #07082E;
    grid-row: 3 / 5;
    grid-column: 2 / 3;
}

.ride-car-info {
    border: rgba(204, 204, 204, 0.54) solid 1px;
    align-content: center;
    margin-bottom: 5px;
    border-radius: 5px;
    color: #07082E;
    grid-row: 4 / 5;
    grid-column: 1 / 2;
}