#pageContent {
    display:grid;
    /*	grid-template-columns:10% auto 10%;*/
}
@media screen and (min-width:900px) {
    #pageContent {
        grid-template-columns: auto 50% auto;
        grid-template-areas: "firstNav Content secondNav";
        min-height: 40rem;
        height: auto;
    }
}

@media screen and (max-width:899px) {
    #pageContent {
        grid-template-columns:0% auto 0%;
        grid-template-areas: "firstNav Content secondNav";
    }
}

#secondNav {
    background-color: #06052D;
    grid-area:secondNav;
}

div.logo img {
    width: 100%;
    margin-top: 10%;
}

#firstNav {
    grid-area:firstNav;
    background-color: #06052D;
}

#footer,  #header{
    background-color: #06052D;
    text-align: center;
    padding: 2rem;
    -webkit-text-fill-color: azure;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#Content {
    grid-area:Content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

#PageContent{
    background-color: #b5b5f3;
}

a{
    text-decoration: none;
    color: black;
}

label.login{
    border: gray;
    background-color: lightgrey;
}

input{
    padding: 5px;
    width: auto;
}

#registerButton, #loginButton{
    width: 99%;
    padding: 5px;
}

#signupButton{
    width: 37%;
    padding: 5px;
}

button:hover, a:hover {
    opacity: 80%;
}

td{
    background-color: lightgrey;
}

.labelField{
    padding: 5px;
    width: auto;
}

form>div>p{
    -webkit-text-fill-color: #053745;
    font-weight: bold;
    /*padding-bottom: 1px;*/
}

div>h3, div>h4{
    text-align: center;
}

div>div>label, label{
    -webkit-text-fill-color: #2d0521;
    width: 500px;
    display: inline-block;
}

form>div>div{
    text-align: center;
}

.likeButton{
    display: inline-block;
    text-decoration: none;
    background: lightgray;
    border: 2px solid black;
    padding: 4px;
    margin: 2px;
    width: 150px;
    border-radius: 5px;
    text-align: center;
}

.likeButton:hover{
    background: #e5e3e3;
}

form>div>.likeButton{
    -webkit-text-fill-color: #2d0521;
}

.myMenuButtons>form>button{
background: #1E4294;
    -webkit-text-fill-color: #AEBBD8;
    width: fit-content;
    padding: 10px 10px;
}
